html {
    background-color: rgb(12, 7, 0);
    color: rgb(6, 186, 33);
    font-family: monospace;
    min-height: 100vh;

}

.main {
    margin: 1.5%;

}

.nav-links {
    display: flex;
    flex-direction: column;
    border-bottom: 1px rgb(6, 186, 33) solid;
    font-size: 1.8rem;
}

button {
    padding: 10px;
    background-color: transparent;
    border: 1px rgb(6, 186, 33) solid;
    color: rgb(6, 186, 33);
    cursor: pointer;
}

button:hover {
    color: rgb(248, 182, 101);
}

a {
    color: rgb(248, 182, 101);
    text-decoration: none;
}

a:hover {
    color: rgb(6, 186, 33);
}

input {
    padding: 10px;
    background-color: transparent;
    border: 2px solid rgb(6, 186, 33);
    color: rgb(6, 186, 33);
    margin-bottom: 5px;
}

.anecdote-content {
    padding: 10px;
    border: 1px solid rgb(6, 186, 33);
    margin-top: 1%;
    margin-bottom: 1%;
}

.footer {
    background-color: #070707;
    padding: 10px;
    text-align: center;
    position: sticky;
    bottom: 0;
  }
