/* styles.css */

.main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(235, 249, 249);
    padding: 1%;
}

.router {
  background-color: #59028b;;
  padding: 1%;
  border-radius: 10px;

}

.logged-in {
  color: white;
  font-size: 0.8rem;
  margin-left: 0.5%;
}

.loginform {
  text-align: center;
}

.notification {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.success {
  background-color: #4caf50;
  color: white;
}

.error {
  background-color: #f44336;
  color: white;
}

/* Style for inputs */
input[type="text"],
input[type="password"],
input[type="number"] {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  width: 15%;
  border-radius: 5px;
  transition: border-color 0.3s;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="number"]:hover {
  outline: none;
  border-color: #fb00ff; /* Change to your desired focus color */
  box-shadow: 0 0 5px #ee00ff; /* Add a subtle box shadow on focus */
}

/* Style for buttons */
button {
  padding: 10px 20px;
  margin: 5px;
  border: 1px white solid;
  border-radius: 5px;
  background-color: #59028b; /* Change to your desired button background color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

a {
  color: white;
  text-decoration: none;
}

.bloglink {
  color: #59028b;
  text-decoration: none;
}
.bloglink:hover {
  color: #a457d0;
}

button:hover {
  background-color: rgb(174, 3, 162); /* Change to your desired hover color */
  transform: scale(1.03); /* Add a slight scale effect on hover */
}

/* Style for success notifications */
.success-notification {
    background-color: #4CAF50; /* Green background color */
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: opacity 0.5s;
  }
  
  /* Style for failure notifications */
  .failure-notification {
    background-color: #FF5252; /* Red background color */
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: opacity 0.5s;
  }

  .blogibox {
    background-color: rgb(207, 251, 221);
    margin: 1%;
    padding: 1%;
    width: 450px;
    border-radius: 10px 10px 10px 10px;
    border: 1px black solid;
  }

  .showmore-button {
    background-color: #59028b;
    color: aliceblue;
    padding: 7px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
  }

  .username {
    font-size: small;
    background-color: #acf6b1;
    padding: 10px;
    border-radius: 5px;

  }

  .delete-button {
    background-color: rgb(213, 8, 111);
    color: aliceblue;
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
    cursor: pointer;
  }

  .delete-button:hover {
    background-color: rgb(19, 1, 4); /* Change to your desired hover color */
    color: white;
    transform: scale(1.07); /* Add a slight scale effect on hover */
  }


