html {
    color: rgb(6, 186, 108);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2rem;
    background-color: black;
}

.courseparts {
    background-color: rgb(44, 44, 44);
    color: rgb(6, 186, 108);
    padding: 0.4rem;
    margin-left: 1rem;
    border-radius: 0.2rem;
    width: fit-content;
}