html {
    background-color: rgb(253, 242, 242);
    font-family: 'Roboto', sans-serif;
}

input {
    font-size: 16px;
    padding: 10px;
    border-radius: 0;
    border: 1px solid black;
}

button {
    font-size: 16px;
    padding: 10px;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    background-color: rgb(99, 11, 181);
    color: #fff;
}
button:hover {
    background-color: rgb(99, 11, 181);
    opacity: 0.8;
}