html {
    background-color: rgb(253, 242, 242);
    font-family: 'Roboto', sans-serif;
}

.header {
    padding: 10px;
    background-color:  rgb(251, 230, 230);
    width: 35%;
    border-radius: 0 50px 50px 0;
    border: #858585 1px solid;
    
}

.main {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    font-size: 16px;
    padding: 10px;
    border-radius: 0;
    border: 1px solid black;
}

button {
    font-size: 16px;
    padding: 10px;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    background-color: rgb(99, 11, 181);
    color: #fff;
    margin: 3px;
}
button:hover {
    background-color: rgb(99, 11, 181);
    opacity: 0.8;
}

.listaus {
    border-collapse: collapse;
    width: 75%;
    margin-top: 20px;
}

td {
    padding: 5px;
    border-bottom: 1px solid #858585;
}