.button {
    color: rgb(3, 106, 79);
    font-weight: 600;
    background-color: aquamarine;
    border-radius: 3px;
    border: 1px black solid;
    padding: 1%;
    margin: 0.5%;
    cursor:pointer;
    width: 100%;
    height: 25px;
}

.buttonAnecdote {
    color: rgb(243, 244, 252);
    font-weight: 600;
    background-color: rgb(18, 18, 237);
    border-radius: 8px;
    border: 0;
    cursor:pointer;
    width: 10%;
    height: 45px;
    margin: 3px;
}

.button:hover {
    background-color: rgb(185, 252, 230);
}

h3 {
    font-size: 2rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(128, 6, 128);
}

table {
    border: 2px black dashed;
    
}

.cellstyle {
    background-color: rgb(214, 213, 213);
    padding: 0.5rem;
    font-weight: 600;
}

